img {
  width: 350px;
  height: 250px;
  border-radius: 10px;
  margin-top: 50px;
}
.mask {
  padding: 10px;
  border-radius: 20px;
  color: brown;
  width: 350px;
  background-color: aqua;
  text-align: center;
}
.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
button {
  height: 20px;
  width: 50px;
  margin: 0 auto !important;
}
